.animais__cadastrados{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
@media screen and (max-width: 768px){
    .animais__cadastrados{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }
}
