.content{
    background-color: #DFE3E5;
    /* background-color: #4E2096; */
    padding: 3% 0%;
    box-shadow: 0 2px 10px 2px #00000010;
}
.formulario{
    width: 30%;
    padding: 2% 2%;
    background-color: #fff;
    color: #4E2096;
    border-radius: 5%;
    text-align: center;
    margin: 0 auto;
    
}
.formulario h3{
    margin: 3% 0;
}
.formulario form{
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 768px){
    .formulario{
        width: 80%;
    }
}

